@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

body {
  background-color: #fff;
}

#card-container, #tg-btn-container, #display-container {
  background-color:  #fff;
}

#card-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
}

#card-container::-webkit-scrollbar {
  display: none;
}

.common-column-props {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

#tg-btn-container {
  padding-top: 0px;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0px 0px 5px;
  word-wrap: normal;
}

.card #display-container {
  border: 1px solid rgb(76, 76, 77);
}

.card .card-body .form-control {
  cursor: default;
  height: 73px;
  font-size: 32px;
  letter-spacing: 2px;
  background-color: transparent;
  color: #000;
  text-align: end;
  padding-inline: 8px;
  height: 88px;
  user-select: none;
  position: relative;
}

.card .card-body .form-control:hover {
  background-color: rgb(221, 218, 218);
}

#top-line {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

#js-history-btn {
  cursor: pointer;
}

#history-display {
  background-color: lightblue;
  width: 443px;
  min-height: 100px;
  max-height: 60vh;
  position: absolute;
  top: 6%;
  left: 4px;
  overflow: scroll;
  user-select: none;
}

.history-display-unactive {
  display: none;
}

.history-display-active {
  display: flex;
}

#active-history-btn {
  color: #438dfa;
  padding-left: 7px;
}

#active-history-btn:hover {
  color: #2171eb;
}

.card-btns {
  border-radius: 4px;
  transition: none;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f0f0;
}

.card-btns:hover {
  background-color: #494c4e;
  color: #fff;
}

.card-btns:active {
  border: 1px solid #cde3fa;
}

#eval-btn {
  background-color: #4cd137;
  color: #fff;
}

#eval-btn:hover {
  background-color: #74d465;
  border-color: #5ed84b;
}

.dark-ones {
  background-color: #00a8ff;
  border: 1px solid #00a8ff;
  color: #fff;
}

.dark-ones:hover {
  background-color: #fff;
  color: #00a8ff;
}

#close-btn-1 {
  padding-right: 4px;
}

#close-btn-2 {
  padding-left: 4px;
  padding-right: 8px;
}

#close-btn-3 {
  padding-left: 0px;
}

#back-btn {
  position: relative;
  padding-bottom: 7px;
  padding-top: 7px;
  color: #e74c3c;
  background-color: #fff;
  border: 1px solid #e74c3c;
  transition: color 0.8s;
  z-index: 1;
  overflow: hidden;
}

#back-btn:hover {
  color: #fff;
}

#back-btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #e74c3c;
  border-radius: 50% 50% 0 0;
  z-index: -1;
  transition: 0.8s;
}

#back-btn:hover::before {
  height: 180%;
}

#backspace-symbol {
  font-weight: bold;
}

#toggle-btn {
  display: flex;
  flex-direction: row;
  color: #000;
  user-select: none;
}

.common-props {
  border: 1px solid grey;
  border-radius: 30px;
  padding: 8px 18px;
}

.js-styles-btn-active {
  border-color: #438dfa;
  color: #438dfa;
  background-color: rgba(67, 141, 250, 0.1);
}

.js-styles-btn {
  background-color: transparent;
  border-color: grey;
}

#number-btns {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 24px;
}

#scientific-functions {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 24px;
}

/* LARGE-DEVICES */
@media screen and (min-width: 576px){
  #card-container {
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    grid-gap: 8px;
    justify-content: center;
    overflow-x: visible;
  }

  #close-btn-1 {
    padding-right: 7px;
  }

  #close-btn-2 {
    padding-left: 1px;
    padding-right: .75rem;
  }

  .card-btns {
    font-size: 17px;
    font-weight: 500;
  }

  #tg-btn-container {
    display: none;
  }

  #first-column {
    padding-bottom: 16px;
  }

  #second-column {
    padding-top: 16px;
  }

  .last-col {
    display: none;
  }

  #card-container #second-column #last-btn-row {
    display: flex !important;
  }
}

@media screen and (min-width: 992px) {
  
  .card-btns {
    font-size: 19px;
    font-weight: 500;
  }
  
}
